  </main>
  <footer class="site-footer">
    <div class="container footer-inner">
      <div>
        <strong>Université de Valmoure</strong><br>
        12 Rue des Sciences, 75000 Valmoure, France
      </div>
      <div>
        Tel: +33 1 23 45 67 89<br>
        Email: contact@valmoure.edu
      </div>
      <div>
        &copy; 2026 Université de Valmoure. All rights reserved.
      </div>
    </div>
  </footer>
</body>
</html>
